#wrapper {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

#gamespace {
  max-width: 960px;
  margin: 0 auto;
  padding: 140px 0;
}

#gameboard {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

#gameboard .tile {
  font-family: 'FontAwesome';
  color: black;
  border-radius: 20px;
  background-color: rgb(153, 204, 255);
}

#gameboard .tile:hover {
  background-color: rgb(85, 90, 104);
}

#message {
  position: absolute;
  display: none;
  z-index: 10;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.85);
  font-size: 40px;
  font-weight: 500;
  color: rgb(44, 62, 80);
}