body { 
  height: 100%;
  padding: 0;
  margin: 0;
}

#wrapper {
  position: relative;
  font-family: 'Lato', sans-serif;
  height: 100%;
}

header {
  height: 100px;
  width: 100%;
  background-color: rgb(26, 37,47);
}

h1 {
  margin: 0 50px;
  padding-top: 23px;
  /* margin-top: 0px; */
  width: 400px;
  text-align: left;
  font-size: 2.4em;
  color: white;
  height: 77px;
}

h5 {
  margin: 0;
  color: rgb(85, 85, 85);
  font-size: 1em;
}

#gamespace {
  width: 80%;
  height: 600px;
  margin: 0 auto;
  display: inline-block;
}

#scorespace {
  height: 540px;
  display: inline-block;
  position: absolute;
  margin-right: 25px;
  margin-top: 60px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  border: 1px solid rgb(105, 105, 105);
  background-color: rgb(206, 225, 255);
  font-size: 1em;
  font-weight: 700;
  width: 180px;
}

td {
  text-align: center;
  font-size: 0.9em;
  border: 1px solid rgb(105, 105, 105);
}

tfoot {
  background-color: rgb(150, 188, 247);
}

#gameheader {
  width: 480px;
  margin: 5px auto;
}

#gamefooter {
  width: 480px;
  margin: 0 auto;
}

#gameheadermessage {
  width: 255px;
  margin-top: 25px;
  margin-left: 15px;
  display: inline-block;
}

#gameconfig {
  display: inline-block;
  text-align: right;
  width: 200px;
}

#gameboard {
  width: 480px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.tile {
  border-radius: 20px;
  background-color: rgb(153, 204, 255);
}

.tile:hover {
  background-color: rgb(85, 90, 104);
}

/* .tile:before {
  font-family: 'Font Awesome\ 5 Free';
  content: '\f111';
  font-weight: 400;
  font-style: normal;
  position: absolute;
  display: block;
  opacity: 0;
}

.tile:hover:before {
  opacity: 1;
} */

.icon {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
}

#gameendmessage {
  position: absolute;
  display: none;
  z-index: 10;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.85);
  font-size: 40px;
  font-weight: 500;
  color: rgb(44, 62, 80);
}

#restartbutton {
  background-color: rgb(100, 100, 100);
  border: 1px solid rgb(100, 100, 100);
  color: white;
  font-size: 16px;
  border-radius: 5px;
  text-align: center;
  width: 100px;
  height: 35px;
  margin-left: 10px;
  margin-top: 10px;
  outline: none;
}

#restartbutton:hover {
  background-color: white; /* Green */
  color: rgb(100, 100, 100);
}

#configbutton {
  background-color: rgb(100, 100, 100);
  border: 1px solid rgb(100, 100, 100);
  color: white;
  font-size: 0.6em;
  border-radius: 5px;
  text-align: center;
  height: 16px;
  margin-right: 10px;
  outline: none;
}

#configbutton:hover {
  background-color: white; /* Green */
  color: rgb(100, 100, 100);
}

footer {
  position: absolute;
  height: 80px;
  width: 100%;
  background-color: rgb(192, 57, 43);
  color: white;
}

footer p {
  margin-top: 13px;
  margin-left: 25px;
  margin-bottom: 0;
  font-size: 1.2em;
  width: 225px;
}

#byline {
  font-size: 1em;
  color: rgb(146, 145, 145);
  margin-top: 2px;
  margin-left: 25px;
  width: 218px;
  background-color: white;
  height: 22px;
  padding-left: 2px;
  padding-top: 2px;
  padding: 2px;
}

footer img {
  width: 20px;
  height: 20px;
  float: left;
  padding-right: 2px;
}

